* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  color: #fff;
  background-color: black;
  font-family: Oswald, sans-serif;
  font-size: 1.6rem;
  box-sizing: inherit;
  overflow-x: hidden; }

.jumbo {
  padding-top: 10rem;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: start;
  grid-template-columns: 2fr min-content;
  grid-template-rows: max-content 1fr;
  grid-row-gap: 3rem; }
  .jumbo__main-img {
    width: 25%; }
  .jumbo__rating-img {
    width: 15rem;
    grid-row: 2 / 3;
    grid-column: 2 / 3; }
  .jumbo__btns {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    align-items: center; }
    .jumbo__btns > * {
      margin-right: 2rem; }

.hero {
  width: 100vw;
  height: 100%;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; }
  .hero__vid {
    object-fit: cover;
    min-width: 100%;
    height: 100%; }
  .hero__bg-img {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%; }

.slides .carousel-nav .flickity-slider {
  transform: translateX(0) !important; }

.slides .carousel-nav .flickity-button {
  display: none; }

.slides .carousel-nav .carousel-cell {
  color: #7c7e78;
  height: auto;
  width: auto;
  padding: 2rem; }

.slides .carousel-main .carousel-cell {
  min-width: 100%;
  min-height: 50vh;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 2.5fr 1fr; }
  .slides .carousel-main .carousel-cell__img {
    align-self: center;
    max-width: 100%;
    display: block;
    height: auto; }
  .slides .carousel-main .carousel-cell__content {
    grid-column: 2 / 3;
    max-height: 100%;
    width: 100%; }
  .slides .carousel-main .carousel-cell .carousel__info {
    height: 50rem;
    overflow-y: scroll; }

.slides .flickity-prev-next-button {
  height: 6rem;
  width: 6rem; }
  .slides .flickity-prev-next-button.previous {
    margin-left: -7rem; }
  .slides .flickity-prev-next-button.next {
    margin-right: -7rem; }

.slides .flickity-button {
  background-color: #fec107;
  border-radius: 0; }
  .slides .flickity-button:disabled {
    display: none; }

.slides ::-webkit-scrollbar {
  width: .5rem; }

.slides ::-webkit-scrollbar-track {
  background-color: #7c7e78; }

.slides ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: #fec107; }

.h2 {
  color: #fff;
  text-transform: uppercase;
  border-bottom: 4px solid #fec107;
  font-size: 4rem; }
  .h2--mb-md {
    margin-bottom: 3rem; }
  .h2--inline {
    display: inline-block;
    margin-bottom: 2rem; }

.btn {
  border-radius: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 2rem;
  display: block;
  padding: 1rem 2rem; }
  .btn--full {
    background-color: #fec107;
    color: black;
    border: 4px solid transparent; }
  .btn--hollow {
    background-color: transparent;
    color: white;
    border: 4px solid #fec107; }

.container {
  display: grid;
  width: 100vw;
  grid-template-rows: repeat(2, 100vh) minmax(100vh, max-content);
  grid-template-columns: 16vw 1fr 16vw;
  position: relative; }

.jumbo {
  height: 100%;
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  z-index: 100; }

.about {
  height: 100%;
  width: 100%;
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 2fr; }

.slides {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 16vw 1fr 16vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://media.playstation.com/is/image/SCEA/the-last-of-us-part-ii-forest-bg-ps4-us-24aug19?$native_xl_nt$"); }
  .slides__content {
    height: 100%;
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3; }
  .slides__bg-img {
    grid-column: 1 / -1; }
    .slides__bg-img-top {
      grid-row: 1 / 2; }
    .slides__bg-img-bottom {
      grid-row: 3 / 4; }

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  font-size: 1.8rem; }

.about__img {
  background-image: url("https://media.playstation.com/is/image/SCEA/the-last-of-us-part-ii-splash-bgb-ellie-ps4-us-24aug19?$native_nt$");
  background-size: cover;
  background-position: center;
  box-shadow: inset -7px 0px 37px 42px rgba(0, 0, 0, 0.95); }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-column-gap: 1rem;
  width: 100%;
  grid-template-rows: 10rem;
  grid-template-columns: 16vw 5fr repeat(5, 1fr) 16vw;
  align-items: center;
  list-style: none;
  background-color: transparent;
  z-index: 1000; }
  .nav__li {
    text-transform: uppercase;
    font-size: 2rem; }
    .nav__li:first-child {
      grid-column: 2 / 3; }
    .nav__li i {
      margin-left: .5rem; }
  .nav__img {
    width: 10rem; }
  .nav__link {
    text-decoration: none;
    color: #7c7e78; }
