.slides {
    .carousel {
        .btn {
            font-size: 1.6rem;
            margin-bottom: 2rem;
        }
        &-nav {
            text-transform: uppercase;
            font-size: 1.8rem;
            .flickity-button {
                display: none;
            }
            .carousel-cell {
                color: $color-light-grey;
                width: auto;
                text-align: left;
                background-color: red;
            }
        }

        &-main {
            .carousel-cell {
                width: 100%;
                height: auto;
                display: grid;
                grid-template-columns: 2.5fr 1fr;
                padding: 0 2rem;

                &__img {
                    height: auto;
                    align-self: center;
                    max-width: 100%;
                }
                
                &__content {
                    grid-column: 2 / 3;
                    font-weight: 300;
                    p {
                        margin: 2rem 0;
                    }
                    ul {
                        margin-left: 2rem;
                        list-style: square;
                        li {
                            margin: 2rem;
                        }
                    }
                }

                .carousel__info {
                    max-height: 30rem;
                    overflow-y: scroll;
                }

                .flickity-viewport {
                    height: 100% !important;
                }

            }    
        }

    }

    .flickity {
        &-prev-next-button {
            height: 6rem;
            width: 6rem;

            &.previous {
                margin-left: -7rem;
            }

            &.next {
                margin-right: -7rem;
            }

        }

        &-button {
            background-color: $color-gold;
            border-radius: 0;

            &:disabled {
                display: none;
            }

        }
    }

}

.slides ::-webkit-scrollbar {
    width: .5rem;
}

.slides ::-webkit-scrollbar-track {
    background-color: $color-light-grey;
}

.slides ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: $color-gold;
}