.h2 {
    color: #fff;
    text-transform: uppercase;
    border-bottom: 4px solid $color-gold;
    font-size: 4rem;
    &--mb-md {
        margin-bottom: 3rem;
    }
    &--inline {
        display: inline-block;
        margin-bottom: 2rem;
    }
}